@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";
@import "../../styles/_sizes.scss";

.scoreBoardPageContainer {
  @include flexView(column, space-between, center);

  height: calc(100% - $headerHeight - 10px);

  .scoreBoardTableContainer {
    min-height: calc(100% - $headerHeight);

    .scoreBoardTable {
      border-width: 0px;
    }

    .tableHeader {
      background-color: $tableHeaderBGColor;
      color: $tableHeaderTitleColor;
      font-size: 14px;
      justify-content: center;
      padding: 10px 15px;
      text-align: center;
    }

    .tableCell {
      direction: ltr;
      font-size: 11px;
      text-align: center;
    }
  }

  .scoreBoardNavigationContainer {
    @include flexCenterView(row);

    height: 50px;

    .scoreBoardToWelcomeButton,
    .scoreBoardToPlayButton {
      @include flexCenterView(row);

      margin: 2px;
      min-width: 100px;
      padding: 5px;
    }
  }
}
