@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";
@import "../../styles/_sizes.scss";

.gamePageContainer {
  @include flexCenterView(column);

  background-color: $gameBGColor;
  height: calc(100% - $headerHeight);
  position: relative;
  width: 100%;

  .gamePageHeader {
    @include flexCenterView(row);

    padding: 10px;

    .gameSpentTime {
      font-weight: 400;
      padding-inline-start: 10px;
    }
  }

  .gamePageContent {
    height: 100%;
    position: relative;
    width: 100%;

    .gameBoxLoadingCover {
      @include flexCenterView(column);

      background-color: transparent;
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
    }
  }
}
