@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";

.gameEndContainer {
  @include flexCenterView(column);

  background-color: $gameEndBGColor;
  border: 6px double $gameEndBorderColor;
  border-radius: 5px;
  color: $gameEndTextColor;
  font-size: min(2.2vw, 20px);
  padding: 10px 0px;
  width: 90%;

  .gameEndButton {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
  }
}
