@import "./palette";

$gameBoxBGColor: $mainLightColor;
$gameBoxBorderColor: #000000;
$gameBoxCoverBGColor: $mainLightColor;
$gameBoxBGColor: $mainLightColor;

$gameBoxCellBGColor: #81b4d6;
$gameBoxCellBorderColor: #000000;
$gameBoxCellCoverBGColor: #2980b9;
$gameBoxCellMatchedBGColor: #f8f8b3;

$gameEndBGColor: $mainLightColor;
$gameEndBorderColor: $mainDarkColor;
$gameEndButtonBGColor: $mainDarkColor;
$gameEndButtonTextColor: $mainLightColor;
$gameEndTextColor: $mainDarkTextColor;

$introBGColor: $mainLightColor;

$introButtonBGColor: $mainDarkColor;
$introButtonTextColor: $mainLightColor;

$introHeaderBGColor: $mainDarkColor;
$introHeaderBorderColor: $mainDarkColor;
$introHeaderTextColor: $mainLightColor;

$introInputBGColor: $veryLightColor;
$introInputBorderColor: $mainDarkColor;

$introLabelBorderColor: $mainDarkTextColor;

$introTextColor: $mainDarkTextColor;
