@import "./palette";

$appBGColor: $beigeColor;

$buttonBGGradient: linear-gradient(
  $normalBrownColor,
  $lighterBrownColor,
  $normalBrownColor
);
$buttonBorderColor: $darkBrownColor;
$buttonTextColor: $maroonColor;

$frameMainColor: $darkBrownColor;
$frameLightColor: $lightBrownColor;
$frameOutlineColor: $darkGrayColor;

$gameBGColor: $beigeColor;

$gameBoxCellBGColor: $veryLightBrownColor;
$gameBoxCellBorderColor: $blackColor;
$gameBoxCellCoverBGColor: $normalBrownColor;
$gameBoxCellMatchedBGColor: $lightYellowColor;

$gameEndBGColor: $somewhatLightBrownColor;
$gameEndBorderColor: $darkBrownColor;
$gameEndTextColor: $maroonColor;

$headerBGGradient: linear-gradient(
  $normalBrownColor,
  $lighterBrownColor,
  $normalBrownColor
);
$headerBorderColor: $darkBrownColor;
$headerTextColor: $maroonColor;

$introBGColor: $beigeColor;
$introTextColor: $darkBrownColor;
$introInputBGColor: $whiteColor;
$introInputBorderColor: $darkBrownColor;

$tableHeaderBGColor: $normalBrownColor;
$tableHeaderTitleColor: $beigeColor;

$pageBGColor: $normalBrownColor;

$scoreBoardBGColor: $beigeColor;
