$darkBrownColor: #483c32;
$normalBrownColor: #a67b5b;
$lightBrownColor: #b4825a;
$lighterBrownColor: #e4ae84;
$somewhatLightBrownColor: #e7c7ae;
$veryLightBrownColor: #e9ccb6;
$maroonColor: #800000;
$darkGrayColor: #333;
$beigeColor: #fff0e5;
$blackColor: #000000;
$lightYellowColor: #f8f8b3;
$whiteColor: #ffffff;
