@import "../../styles/_display.scss";
@import "../../styles/_sizes.scss";

.gameBoxContainer {
  @include flexCenterView(column);
  border-bottom: 1px solid #000000;

  .gameBoxRow {
    @include flexCenterView(row);

    .gameBoxCellContainer {
      @include flexCenterView(column);

      background-color: #81b4d6;
      cursor: pointer;
      height: $gameBoxCellHeight;
      width: $gameBoxCellWidth;
    }
  }
}
