@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";

.gameBoxCell {
  @include flexCenterView(row);
  @include woodenFrame(1px, 1px, 5px, 2px, 3px);

  border: 1px solid $gameBoxCellBorderColor;
  border-bottom-width: 0;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%;

  .gameBoxCellImage {
    @include flexCenterView(row);
    height: 100%;
    width: 100%;

    img {
      height: 70%;
      width: 70%;
    }
  }

  &.gameBoxCellVisible {
    transform: rotateY(180deg);
  }

  &.gameBoxCellMatched {
    background-color: $gameBoxCellMatchedBGColor;

    .gameBoxCellImage {
      background-color: transparent;
    }
  }

  .gameBoxCellImage,
  .gameBoxCellCover {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
  }

  .gameBoxCellImage {
    background-color: $gameBoxCellBGColor;
    transform: rotateY(180deg);
  }

  .gameBoxCellCover {
    background-color: $gameBoxCellCoverBGColor;
  }
}
