@import "../../styles/_colors.scss";

.gameBoxCell {
  border: 1px solid $gameBoxCellBorderColor;
  border-bottom-width: 0;
  height: 100%;
  outline-offset: 4px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;

  .gameBoxCellImage {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &.gameBoxCellVisible {
    transform: rotateY(180deg);
  }

  &.gameBoxCellMatched {
    background-color: $gameBoxCellMatchedBGColor;
    .gameBoxCellImage {
      background-color: transparent;
    }
  }

  .gameBoxCellImage,
  .gameBoxCellCover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .gameBoxCellImage {
    background-color: $gameBoxCellBGColor;
    transform: rotateY(180deg);
  }

  .gameBoxCellCover {
    background-color: $gameBoxCellCoverBGColor;
  }
}
