@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";
@import "../../styles/_sizes.scss";

.pageheader {
  @include flexCenterView(row);

  background-image: $headerBGGradient;
  border-bottom: 6px double $headerBorderColor;
  color: $headerTextColor;
  font-size: min(max(2vw, 18px), 32px);
  height: $headerHeight;
  width: 100%;
}
