@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";
@import "../../styles/_sizes.scss";

.pageGeneralContainer {
  @include flexView(column, flex-start, center);
  @include woodenFrame();

  box-sizing: border-box;
  background-color: $pageBGColor;
  height: 95%;
  width: $boardWidth;
}
